<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        h3 {
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div style="width: 85%; margin: 0 7.5%;">
        <div style="text-align: center; padding-left: 50px;">
            <h1 style="font-size: 50px;">
                Отчёт <%= report.id %>
            </h1>
            <h2>
                <%= company.title %>
            </h2>
            <h3>
                <%= report.description %>
            </h3>
            <h3>
                <%= report.name %>
                    <%= report.start_date %>
                        <%= report.end_date %>
            </h3>
            <p>
                <%= report.description %>
            </p>
        </div>
    </div>
</body>

</html>